* {
    padding: 0px;
    margin: 0px;
    align-items: center;
}

.castillo {
    width: 100%;
    height: 100%;
    margin-top: 10px;
    margin-bottom: 10px;
}

header div {
    display: inline-flex;
}

header div p:first-child {
    color: grey;
    margin-left: 10px;
    margin-bottom: 20px;
}

header div ul li {
    display: inline-flex;
    margin-left: 10px;
}

header div ul li:first-child {
    padding-left: 200px;
}

nav {
    background-color: black;
    display: flex;
}

nav ul li {
    background-color: black;
    color: white;
    display: inline-block;
    padding:  7px;
    font-weight: bold;
}

nav ul a:first-child {
    padding-left: 40px;
}

li:hover {
    background-color: white;
    color: black;
}

nav form {
    margin-left: 30%;
    text-align: right;
}

#inputfondonegro {
    background-color: black;
    border-color: black;
}

footer {
    display: flex;
}

footer div {
    display: inline-flex;
    margin-right: 20px;
}

footer div div {
    display: inline-block;
}

div h1 {
    border-right: black;
    border-right-width: 1px;
}

div span {
    color: green;
}

main div {
    background-color: grey;
    color: white;
}