* {
    box-sizing: border-box;
    font-family:'Courier New', Courier, monospace;
  }

.container {

    display: grid;
    grid-auto-flow: row;
    grid-row-gap: 10px;
    grid-template-columns: 75% auto;
    grid-template-rows: 90px 80px 180px 260px 80px;
    grid-template-areas: 
        "header header"
        "nav nav"
        "banner twitter"
        "objects twitter"
        "footer footer";
    margin: 20px auto;
    width: 90%;
}

header div img {
    height: 100%;
}

header aside img {
    height: 30%;

}

header {
    grid-area: header;
    display: flex;
    justify-content: space-between;
    text-align: right;
}

nav {
    grid-area: nav;
    background-color: #f10d92;
    color: white;
}

nav ul {
    display: flex;
    align-content: center;
    padding-left: 5px;
}

li {
    list-style: none;
    padding: 1em;
}

li:hover {
    background-color: #ffffff;
    color: #f10d92;
}

#banner {
    grid-area: banner;
    background-color: #f10d92;
    position: relative;
}

#banner img {
    height: 100%;
    width: 100%;
}

#banner :nth-child(2) {
    position:absolute;
    top: 80%;
    right: 50%;
    color: #f10d92;
    font-weight: bolder;
}

#banner :nth-child(3) {
    position:absolute;
    top: 55%;
    right: 5%;
    color: #f10d92;
    font-weight: bolder;
    font-size:xx-large;
}

#banner :nth-child(4) {
    position:absolute;
    top: 55%;
    right: 95%;
    color: #f10d92;
    font-weight: bolder;
    font-size:xx-large;
}

#twitter {
    grid-area: twitter;
    display: flex;
    flex-direction: column;
    padding-left: 20px;
    font-weight: bolder;
}

#twitter h3 {
    font-weight: 900;
}

#twitter img {
    height: 80%;
}

#objects {
    grid-area: objects;
    display: flex;
    justify-content: center;
    margin: 2em;
    font-weight: bolder;
}

#objects div {
    border: 1px solid #f10d92;
    border-radius: 1em;
    width: 150px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 1em;
    padding: 2em 1em;
    text-align: center;
}

#objects div img{
    width: 80%;
    margin: auto;
}

footer {
    grid-area: footer;
    background-color: #f10d92;
    color: white;
    padding: 0.5em;
    text-align: center;
}
