<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="css/estilos.css">
</head>
<body>
    <div class="container">
        
        <header>
          <h1>Rafael Pérez Photography</h1>
          <p>My social Network
              <img src="img/twitter.png" alt="twitter" >
              <img src="img/youtube.png" alt="youtube">
          </p>
        </header>
        <div>

          <main>
              <div><p>SPECIALIST IN AWESOME</p>
                <p>PHOTOGRAPHY</p>
                <p> LET ME CAPTURE YOUR MOMENTS</p>
              </div>
              <div>
                <img src="img/pacific.png" />
                  <img class="indicez" src="img/nikon.png" />
              </div>

          </main>
        </div>
        <div class="articles">
            <p>RECENT PHOTOS</p>
          <article>
            <img src="img/circus1.jpg" />
          </article>
          <article>
            <img src="img/circus2.jpg" />
          </article>
          <article>
            <img src="img/circus3.jpg" />
          </article>
        </div>
    <footer><p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Facilis mollitia officia velit aliquam odit, ipsum architecto ullam doloremque, amet dolore omnis officiis animi, nihil laborum magnam hic. Saepe, pariatur ipsam!</p></footer>
</body>
</html>