table, th,td,tr{

    text-align: center;
    border: solid;border-collapse: collapse;
    border-width: 1px;
}

.fondorojo{
    background-color: red;
    color: white;
    border-color: black;
}
.fondoazul{
    background-color: blue;
}
.fondogris{
    background-color: grey;
}
.listaroja{
    color: red;
}
#fondoolive{
    background-color: olive;
}