
* {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
  }
.container{
    margin: 20px auto;

}

h1{
    font-size:30px;
    padding-right: 20%;
    padding-left: 20%;
}
nav{
    background-color: black;
    width: 90%;
    margin:2%;
    padding: 1%;
}
.nav-item{
    display: inline-block;
    background-color: black;
    color: white;
    padding-right: 10%;
}
img{
    width: 100px;
    height: 100px;
}